## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/DottiP/Desktop/Analysis Projects/Module 6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Mataura,NZ,2022-08-10 01:22:07,-46.1927,168.8643,46.47,67,100,3.80,overcast clouds,0.0,0.0
1,1,The Valley,AI,2022-08-10 01:23:15,18.2170,-63.0578,83.10,79,98,18.97,overcast clouds,0.0,0.0
2,2,Banda Aceh,ID,2022-08-10 01:23:16,5.5577,95.3222,80.40,78,100,11.39,overcast clouds,0.0,0.0
3,3,Nikolskoye,RU,2022-08-10 01:23:16,59.7035,30.7861,56.80,82,58,0.72,broken clouds,0.0,0.0
4,4,Lyngseidet,NO,2022-08-10 01:23:17,69.5763,20.2189,48.20,81,100,2.42,overcast clouds,0.0,0.0

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
1,1,The Valley,AI,2022-08-10 01:23:15,18.2170,-63.0578,83.10,79,98,18.97,overcast clouds,0.0,0.0
2,2,Banda Aceh,ID,2022-08-10 01:23:16,5.5577,95.3222,80.40,78,100,11.39,overcast clouds,0.0,0.0
6,6,Datong,CN,2022-08-10 01:23:17,40.0936,113.2914,69.37,67,99,3.69,overcast clouds,0.0,0.0
8,8,Rikitea,PF,2022-08-10 01:23:18,-23.1203,-134.9692,73.94,80,100,16.71,overcast clouds,0.0,0.0
10,10,Caravelas,BR,2022-08-10 01:23:19,-17.7125,-39.2481,70.43,81,6,6.33,clear sky,0.0,0.0

In [23]:
# 4a. Determine if there are any empty rows.
print(len(cities_preferred_df))
cities_preferred_df.count()

379

City ID                    379
City                       379
Country                    379
Date                       379
Lat                        379
Lng                        379
Max Temp                   379
Humidity                   379
Cloudiness                 379
Wind Speed                 379
Current Description        379
Rain inches (last 3hrs)    379
Snow inches (last 3hrs)    379
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

379

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
1,1,The Valley,AI,2022-08-10 01:23:15,18.2170,-63.0578,83.10,79,98,18.97,overcast clouds,0.0,0.0
2,2,Banda Aceh,ID,2022-08-10 01:23:16,5.5577,95.3222,80.40,78,100,11.39,overcast clouds,0.0,0.0
6,6,Datong,CN,2022-08-10 01:23:17,40.0936,113.2914,69.37,67,99,3.69,overcast clouds,0.0,0.0
8,8,Rikitea,PF,2022-08-10 01:23:18,-23.1203,-134.9692,73.94,80,100,16.71,overcast clouds,0.0,0.0
10,10,Caravelas,BR,2022-08-10 01:23:19,-17.7125,-39.2481,70.43,81,6,6.33,clear sky,0.0,0.0

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,The Valley,AI,83.10,overcast clouds,18.2170,-63.0578,
2,Banda Aceh,ID,80.40,overcast clouds,5.5577,95.3222,
6,Datong,CN,69.37,overcast clouds,40.0936,113.2914,
8,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,
10,Caravelas,BR,70.43,clear sky,-17.7125,-39.2481,
11,Itarema,BR,77.90,overcast clouds,-2.9248,-39.9167,
12,Bandarbeyla,SO,78.82,overcast clouds,9.4942,50.8122,
14,San-Pedro,CI,74.39,overcast clouds,4.7485,-6.6363,
15,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,
16,Provost,CA,73.85,clear sky,52.3501,-110.2683,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,The Valley,AI,83.10,overcast clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
2,Banda Aceh,ID,80.40,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
6,Datong,CN,69.37,overcast clouds,40.0936,113.2914,Holiday Inn Datong City Centre
8,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Caravelas,BR,70.43,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
...,...,...,...,...,...,...,...
698,Paris,FR,74.08,clear sky,48.8534,2.3488,Britannique Hotel - Paris Centre
700,Hibbing,US,76.35,clear sky,47.4272,-92.9377,Mitchell-Tappan House - Carriage House Rentals
701,Klamath Falls,US,84.87,clear sky,42.2249,-121.7817,Holiday Inn Express & Suites Klamath Falls Cen...
702,Hoquiam,US,71.37,clear sky,46.9809,-123.8893,Econo Lodge Inn & Suites
704,La Union,PE,65.80,scattered clouds,-5.4000,-80.7500,Los Portales

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,The Valley,AI,83.10,overcast clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
2,Banda Aceh,ID,80.40,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
6,Datong,CN,69.37,overcast clouds,40.0936,113.2914,Holiday Inn Datong City Centre
8,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Caravelas,BR,70.43,clear sky,-17.7125,-39.2481,Pousada dos Navegantes

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))